<section class="card">
  <div class="row align-middle">
    <div class="columns">
      <header>
        <h4>
          <%= link_to blog.name, blog, class: 'no-underline' %>
        </h4>
      </header>
      <div class="row align-middle">
        <div class="columns shrink">
          <%= image_tag blog.user.gravatar_url(24), size: '24x24', class: 'avatar' %>
        </div>
        <div class="columns pinch-left">
          <%= link_to blog.user.name, blog.user, class: 'no-underline' %>
        </div>
      </div>
    </div>
    <div class="columns shrink">
      <%= link_to "View", blog_path(blog), class: 'button hollow round' %>
    </div>
  </div>
</section>
