<section class="row align-middle margin-bottom-20">
  <div class="columns">
    <%= link_to post.title, blog_post_path(@blog, post), class: 'bold no-underline' %>
    <br />
    <small class="mute">
      <%= "Posted #{post.created_at.strftime("%A, %B %d at %I:%M %p")}" %>
    </small>
  </div>
  <div class="columns shrink">
    <%= link_to "Read", blog_post_path(@blog, post), class: 'button hollow round' %>
  </div>
</section>
