<% provide(:title, "Small Blogs") %>

<div class="row">
  <div class="small-12 medium-12 large-10">
    <ul>
      <% @blogs.each do |blog| %>
        <li>
          <%= link_to blog.name, blog %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
