<% if model.errors.any? %>
  <div id="error-explanation">
    <header>Error!</header>
    <p>
      <%= pluralize(model.errors.count, "error") %> occurred:
    </p>
    <ul>
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
