@import 'util/mixins';

$site-header-height: 72px;
$site-footer-height: 60px;

#site-wrapper {
  min-height: 100%;
  main[role="main"] {
    padding: 0 0 $site-footer-height + 20;
  }
  + footer[role="contentinfo"] {
    height: $site-footer-height;
    line-height: $site-footer-height;
    margin-top: -$site-footer-height;
  }
}

header[role="banner"] {
  height: $site-header-height;
  margin-bottom: 40px;
  border-bottom: 1px solid $light-gray;
  .button {
    margin-bottom: 0;
  }
  #branding {
    text-decoration: none;
    font-size: rem-calc(24);
    font-weight: $global-weight-bold;
  }
  #you {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 32px 32px;
    text-decoration: none;
    @include hide-text(left);
    @include border-radius(100%);
  }
  #you-menu {
    left: auto !important;
    right: 15px !important;
    width: 150px !important;
    &:before {
      @include css-triangle(6px, $white, up);
      position: absolute;
      top: -6px;
      right: 10px;
      bottom: auto;
      left: auto;
      z-index: 99;
    }
    &:after {
      @include css-triangle(7px, $medium-gray, up);
      position: absolute;
      top: -7px;
      right: 9px;
      bottom: auto;
      left: auto;
      z-index: 98;
    }
    ul.menu > li {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      > a {
        font-size: rem-calc(13);
      }
    }
  }
}

footer[role="contentinfo"] {
  font-size: rem-calc(11);
  .menu > li {
    > a {
      padding: 0;
      line-height: $global-lineheight;
    }
    + li {
      margin-left: 20px;
    }
  }
  p {
    margin-bottom: 0;
  }
}

#error-explanation {
  margin: 0 0 20px;
  padding: 20px 20px 0;
  background: $color-red;
  @include clearfix;
  @include border-radius($global-radius);
  header {
    margin: -20px -20px 20px -20px;
    padding: 20px;
    font-size: rem-calc(16);
    font-weight: bold;
    color: $color-white;
    background-color: $color-red-dark;
    @include border-top-radius($global-radius);
  }
  p {
    margin-bottom: rem-calc(10);
    color: $color-white;
  }
  ul {
    color: $color-white;
  }
}

.pos-rel {
  position: relative;
}

.full-height {
  height: 100%;
}

.auto-center {
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  display: inline-block;
  @include border-radius(100%);
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.row .columns.pinch-left {
  padding-left: 0;
}

.mute {
  color: $medium-gray;
}

.bold {
  font-weight: $global-weight-bold;
}

a.no-underline {
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.button {
  font-size: rem-calc(14);
  height: 32px;
  line-height: 30px;
  text-decoration: none;
  transition: none;
  &.round {
    @include border-radius(999em);
  }
  &.hollow.success {
    &:hover,
    &:focus {
      border-color: $color-green;
      background-color: $white;
      color: $color-green;
    }
  }
  + .button {
    margin-left: 7px;
  }
}

label {
  position: relative;
  margin-bottom: 10px;
  &.required {
    font-weight: bold;
    &:after {
      content: '(required)';
      display: inline-block;
      margin-left: 10px;
      color: $medium-gray;
      font-weight: normal;
      font-style: italic;
    }
  }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  padding: 0 5px;
  &:not(textarea) {
    height: 32px;
  }
}

textarea {
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 1.5;
}

.card {
  padding: 20px;
  margin: 0 0 20px;
  border: 1px solid $light-gray;
  @include border-radius($global-radius);
  &:hover {
    border-color: $medium-gray;
  }
}
